body {
	background-color: #f4f4f4;
	/* font-family: 'Titillium Web', sans-serif; */
	font-family: 'Rubik', sans-serif;
}

/* .App {
  background-image: url(./images/dot-bg-02.png);
  background-repeat: no-repeat;
  background-size: 100vh;
} */

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

form {
	max-width: 50vw;
	margin: 0 auto;
}

button {
	margin: 1px;
}

.nav a {
	color: white;
}

h1,
h2 {
	margin-top: 20px;
}

.nav a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}

.projects-container {
	display: flex;
	padding: 5vh 5vw;
}

.projects-container > * {
	flex: 1;
}

/* NAVBAR */
.navbar-logo {
	width: 10vw;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.bar-links {
	color: #f4f4f4;
	cursor: pointer !important;
	padding-left: 2vw;
}

.nav-container {
	display: flex;
	justify-content: flex-end;
}

.salutation {
	padding-left: 3vw;
}

/* FOOTER */
.footer-container {
	font-size: 0.7rem;
	width: 100%;
	height: 0.5rem;
	text-align: center;
	margin-top: 1rem;
}

/* OPENING PAGE */
/* SIGN UP */
.signup-container {
	background-image: url("./images/dot-bg-big-04.png");
	min-height: 89vh;
	display: flex;
	flex-direction: column;
}

.first-line {
	padding: 10px;
	text-align: center;
	font-size: 15px;
}

.text-animation {
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.introduction {
	padding: 10px;
	text-align: center;
	font-size: 15px;
}

.react-rotating-text-cursor {
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* LOG IN */
.login-container {
	background-image: url("./images/dot-bg-big-04.png");
	min-height: 89vh;
	padding-top: 3vh;
}

/* EDIT PROFILE */
.edit-profile-picture {
	min-height: 87vh;
	padding: 2em;
}

/* HOME - LOGGED */
.salutation {
	color: #fddd00;
}

/* PROFILE PAGE */
.profile-container {
	min-height: 87vh;
}
.profile-intro {
	display: flex;
	justify-content: space-around;
	padding: 2em;
}

@media only screen and (max-width: 800px) {
	.profile-intro {
		display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about-card {
	padding-bottom: 2em;
}

.profile-picture-card {
  padding-bottom: 2em;
}



.post-card {
	margin-bottom: 7vh;
}

.profile-post {
	display: flex;
	flex-direction: column;
}

.profile-content {
	display: flex;
	flex-direction: column;
	width: 92vw;
	padding-left: 7vw;
}

.profile-links {
	padding-bottom: 1.5vh;
	padding-left: 5vw;
}

/* Portfolio */
.portfolioContainer h2 {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
.projectbox {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
}

/* CHAT LIST/CONTACT PAGE */
.contact-list-container {
	min-height: 87vh;
	padding: 2em;
}

/* CHAT/MESSAGES PAGE */
.chat-page-container {
	min-height: 87vh;
	display: flex;
	flex-direction: column;
	padding: 2em;
}

.chat-page-container form {
	margin: 0;
	max-width: 100vw;
}

/* SEARCH PAGE */
.search-cointainer {
	min-height: 87vh;
	padding: 2em;
}

.search-cointainer form {
	margin: 0;
	max-width: 100vw;
}

/* PORTFOLIO */
.portfolioContainer {
	min-height: 84vh;
}
