# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

